--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchaudio==2.2.2+cpu
streamlit==1.28.2
numpy<1.24.0
pytest>=7.4.0
argbind>=0.3.7
descript-audiotools
git+https://github.com/djwugee/vampnet.git
protobuf==3.20.3
